body {
    /*background-image: linear-gradient(#FFFFFF, #83CCF6, #375adb);*/
    height: 100vh;
    background-color: #353c47;
    font-family: Tahoma;
}

.logo {
    position: absolute;
    left: 35%;
    right: 35%;
    top: 3%;
    height: 100px;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #454e5c;
    height: 200px;
    width: 300px;
    border-radius: 20px;
}

h1 {
    text-align: center;
    color:white;
}

.txt_field {
    color:white;
}